@media only screen and (max-width:1000px){
    .header .min-continer ul {
        display: none;
    }
    .header .min-continer .btn-menu{
        display: block;
    }
    .header .menu-liner{
        display: none;
    }
}
@media only screen and (max-width:750px){
    .header{
        border-radius: 1vh;
        width: 90%;
    }
    .header .min-continer .btn-darkmod , .btn-bell , .btn-log-reg{
        display: none;
    }
    .header .min-continer .btn-menu{
        border-bottom: 0;
    }
}