@font-face {
    font-family: vazir;
    src: local("Vazirmatn Medium");
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 500vh;
    font-family: vazir;
}
:root{
    --color-txt : #575757;
    --color1 : rgba(255, 116, 139, 0.55);
    --color2 : #ff013b;
    --box-neon : 0 0 0 30px;
}
.powered{
    background: var(--color1);
    color: var(--color2);
    position: fixed;
    bottom: 1vh;
    left: 1vh;
    padding: 1vh 2vh;
    text-decoration: none;
    border-radius: 1vh;
}
.header{
    background: rgb(255, 255, 255);
    width: 93%;
    height: 55px;
    margin: 2vh auto;
    border-radius: 3vh;
    box-shadow: 0 0 10px 5px rgba(77, 77, 77, 0.14);
    padding: 1vh 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
.header .min-continer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .min-continer .menu-liner{
    width: 3px;
    height: 40px;
    background: #e7e7e7;
    margin: 0 1vh 0 0;
    border-radius: 5px;
}
.header .logo{
    padding: 1vh;
}
.header .logo a{
    text-decoration: none;
    color: var(--color2);
}
.header .min-continer ul a{
    text-decoration: none;
    padding: 1vh 2vh;
    color: var(--color-txt);
    transition: 0.3s;
}
.header .min-continer ul a:hover{
    color: var(--color2);

}
.header .min-continer .btn-log-reg {
    text-decoration: none;
    color: var(--color2);
    background: var(--color1);
    padding: 0.9vh 2vh;
    border-radius: 1.5vh;
    box-shadow:  0 0 10px 5px rgba(197, 197, 197, 0.16);
    margin: 0 1vh 0 0;
    transition: 0.2s;
    border-bottom: 3px solid var(--color2);
}
.header .min-continer .btn-serves{
    color: var(--color2);
    background: var(--color1);
    font-size: 22px;
    padding: 1vh;
    border-radius: 1.5vh;
    margin: 0 1vh 0 0;
    cursor: pointer;
    border-bottom: 3px solid var(--color2);
    transition: 0.2s;
}
.header .min-continer .btn-menu{
    display: none;
}
.header .min-continer .btn-serves:active , .header .min-continer .btn-log-reg:active{
    transform: scale(0.88);
    border: none;

}
.hero{
    width: 100%;
    height: 80vh;
    border-radius: 0 0 2em 2em;
    background: var(--color1);
}














